{% extends '../frontend/base.html' %}
{% load static %}

{% block content %}

<section class="page-title">
    <div class="bg-layer"
        style="background-image: url(/static/frontend/assets/images/background/page-title.jpg);">
    </div>

    <div class="auto-container">
        <div class="content-box">
            <h1>Forgot Password</h1>

            <ul class="bread-crumb clearfix">
                <li>
                    <a href="{% url 'frontend:home' %}">
                        Home
                    </a>
                </li>
                <li><span>Forgot Password</span></li>
            </ul>
        </div>
    </div>
</section>

<div class="section">
    <div class="container-fluid py-5">
        <div class="row justify-content-center">

            <div class="col-md-6">

                <div class="card bg-color-2">

                    <div class="card-body p-4">

                        <h4 class="text-center text-light mb-4">
                            Reset Password
                        </h4>
                        {% include "../notification/messages.html" %}

                        <form method="POST" class="pinner-form">
                            {% csrf_token %}

                            <div class="mb-3">
                                <input
                                    type="email"
                                    name="email"
                                    class="form-control"
                                    placeholder="Enter Email Address"
                                    required>
                            </div>

                            <button
                                type="submit"
                                class="btn theme-btn btn-one w-100 "
                                data-spinner-text="sending email..."
                                data-spinner-class="btn-secondary w-100">
                                Send Reset Link
                            </button>

                        </form>

                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

{% endblock %}