{% extends '../frontend/base.html' %}
{% load static %}

{% block content %}

<section class="page-title">
    <div class="bg-layer"
        style="background-image: url(/static/frontend/assets/images/background/page-title.jpg);">
    </div>

    <div class="auto-container">
        <div class="content-box">
            <h1>Password Reset</h1>
        </div>
    </div>
</section>

<div class="section">
  <div class="container-fluid py-5">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6 mb-3">

        <div class="card bg-color-2 text-center">

          <h4 class="text-center text-light p-3">
              Reset Link Sent
          </h4>

          <hr class="border-white">

          <div class="card-body text-white">

              <p class="text-white">
                  We've sent a password reset link to:
              </p>

              <p class="text-white">
                  <strong>{{ email }}</strong>
              </p>

              <p class="text-white">
                  Please check your inbox and follow the instructions to reset your password.
              </p>

              <a href="{% url 'account:login' %}"
                class="btn theme-btn btn-one mt-3 w-100 btn-sm fw-bold">
                  Back to Login
              </a>

          </div>

        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}