{% extends '../frontend/base/base.html' %}
{% load static %}

{% block content %}
<div class="section mt-3 position-relative bg-attach-fixed overflow-hidden mx-auto rounded-4"
  style="background-image: url(/static/frontend/image/img39.png); height: 70vh; max-width: 1816px;">
  <div class="bg-overlay"></div>
  <div class="r-container h-100 position-relative" style="z-index: 2;">
    <div class="d-flex flex-column w-100 h-100 justify-content-center mx-auto align-items-center text-white gap-3"
      style="max-width: 895px;">
      <h2 class="m-0 text-white">Verify Your Email</h2>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'frontend:home' %}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Email Verification</li>
        </ol>
      </nav>
    </div>
  </div>
</div>

<div class="section mt-3">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6 mb-3">
        {% include "../notification/messages.html" %}
        <div class="card bg-gradient-footer text-center">
          <h4 class="text-center text-light p-3">Enter OTP</h4>
          <hr class="border-white">
          <div class="card-body text-white">
            <p class="text-white">An OTP has been sent to your email: <strong>{{ user.email }}</strong></p>
            <form method="post">
              {% csrf_token %}
              <div class="mb-3">
                <!-- <label class="text-white">OTP</label> -->
                <input type="text" name="otp" class="form-control" placeholder="Enter OTP" required>
              </div>
              <button type="submit" class="btn btn-accent w-100 btn-sm fw-bold mt-3">Verify OTP</button>
            </form>
            <hr class="border-light">
            <!-- Resend OTP -->
            <form method="post" action="{% url 'otp:resend_otp' %}" class="mt-2 text-center">
              {% csrf_token %}
              <p class="text-light">Didn't receive the otp?</p>
              <button type="submit" class="btn btn-outline-light btn-sm">Resend OTP</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}