{% extends './base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<style>
    .icon-logo{
        width: 50px;
        height: 50px;
        /* object-fit: cover; */
        margin-right: 20px;
    }
</style>
{% include "../notification/messages.html" %}
<!-- Page Header -->
<div class="d-flex justify-content-between align-items-center mb-1 mt-1">
    <div>
        <h5 class="fw-semibold mb-0 text-dark text-center">Strategic Mirroring</h5>
        <p class="text-dark text-center mt-0">(Institutional Sync)</p>
        <hr class="border-dark">
        <p class="text-dark paragraphs text-center">Automatically synchronize your capital with the  moves of Stonecrest's Lead Portfolio Managers.</p>
        <p class="text-center mt-0 text-muted small">
            Mirrow their adjustment for risk or new growth opportuinities in real-time, benefitting from their expertise without the burden of constant monitoring.
        </p>
    </div>
</div>

{% if not user.is_vip and not has_pending_vip_request %}
<div class="row justify-content-center align-items-center px-2">
    <div class="col-md-7">
        <div class="card strategy-card shadow-lg h-100 p-3">

            <ul style="list-style: none;"> 
                <li class="mb-3 d-flex">
                    <img src="{% static 'account/images/lock-icon.png' %}" alt="" class="icon-logo">
                    <div class="text-mirrow paragraphs">
                        <strong>Restricted Access 
                        </strong><br> 
                        <small>Invitation only, exclusive service</small>
                    </div>
                </li>
                <hr class="border-dark">
                <li class="mb-3 d-flex">
                    <img src="{% static 'account/images/money.png' %}" alt="" class="icon-logo">
                    <div class="text-mirrow paragraphs">
                        <strong>Access Threshold: $100,000+ 
                        </strong><br> 
                        <small>Minimum balance required for synchronization</small>
                    </div>
                </li>
                <hr class="border-dark">
                <li class="mb-3 d-flex">
                    <img src="{% static 'account/images/security.png' %}" alt="" class="icon-logo">
                    <div class="text-mirrow paragraphs">
                        <strong>Institutional Sync
                        </strong><br> 
                        <small>Portfolio Managers optimize your investments in real-time, capturing market shifts before they reach the public.</small>
                    </div>
                </li>
            </ul>
            
                <div class="access-btn px-3">
                    <form method="post" action="{% url 'customer:submit_vip_request' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary rounded-pill w-100 fw-bold">Request Access</button>
                    </form>
                </div>
        </div>
    </div>
</div>
{% elif user.is_vip %}
    <div class="row">
        <div class="col-md-12">
            {% include './copy_expert_cards.html' %}
        </div>
    </div>
{% else %}
<div class="row">
        <div class="col-md-12">
            <p class="text-success text-center">Your request for access to Strategic Mirroring is currently being processed. We will keep you informed of any updates via email.</p>
        </div>
    </div>
{% endif %}


{% endblock %}