{% extends './base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<!-- Page Header -->
<div class="d-flex justify-content-between align-items-center mb-4 mt-3">
    <div>
        <h5 class="fw-semibold mb-0 text-dark text-center">Strategic Mirroring</h5>
        <p class="text-dark text-center mt-0">(Institutional Sync)</p>
        <p class="text-dark paragraphs text-center">Automatically synchronize your capital with the  moves of Stonecrest's Lead Portfolio Managers.</p>
        <p class="text-center mt-0 text-muted small">
            Mirrow their adjustment for risk or new growth opportuinities in real-time, benefitting from their expertise without the burden of constant monitoring.
        </p>
    </div>
</div>

<div class="row justify-content-center align-items-center">
    <div class="col-md-7">
        <div class="card strategy-card shadow-lg h-100 p-3">

            <ul style="list-style: none;"> 
                {% if not request.user.is_vip %}
                <li class="mb-3 paragraphs"><strong>Status: </strong> Ristricted</li>
                {% endif %}
                <li class="mb-3 paragraphs"><strong>Access Threshold: $100,000+ 
                </strong><br> 
                <small>Minimum balance required for synchronization</small>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- no vip -->
<div class="row text-start">
<!-- <div class="row justify-content-center align-items-center text-center"> -->
    <div class="col-md-8">
        <ul class="text-dark mt-4 mb-4">
            <li class="mb-3 paragraphs"><strong>Status: </strong> Ristricted</li>
            <li class="mb-3 paragraphs"><strong>Access Threshold: </strong> Accounts $100,000+</li>
            <li class="mb-3 paragraphs"><strong>The Value: </strong> Absolute synchronization with StoneCrest Lead Desk Portfolio Managers.</li>
            <li class="mb-3 paragraphs"><strong>Mechanism: </strong> Your capital mirrors institutional grade pivots in real-time, capturing market inefficiencies before they are accessible to the public.</li>
    </div>
</div>
<hr class="border-dark">
<div class="row">
    <div class="col-md-12">
        {% if not user.is_vip and not has_pending_vip_request %}
        <p class="text-dark paragraphs">
            This feature is exclusively available to VIP members. To access and enjoy its full benefits, please upgrade
            your account to VIP status.
        </p>

        <form method="post" action="{% url 'customer:submit_vip_request' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary rounded-pill">Request Account Upgrade</button>
        </form>
        {% elif user.is_vip %}
            <div class="row">
                <div class="col-md-12">
                    {% include './copy_expert_cards.html' %}
                </div>
            </div>
        {% else %}
        <p class="text-dark">
            This feature is exclusively available to VIP members. To access and enjoy its full benefits, please upgrade
            your account to VIP status.
        </p>
        <p class="text-info fw-bold">Your VIP request is pending approval.</p>
        {% endif %}
            </li>
        </ul>
    </div>
</div>
{% endblock %}