{% extends './base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<!-- <div class="d-flex flex-column flex-md-row justify-content-between align-items-center mb-2 main-head">
    <h3 class="text-dark mb-2 mb-md-0">Your Command Center</h3>

    <div class="d-flex align-items-center">
        {% if user.profile.image %}
        <img src="{{ user.profile.image.url }}" alt="{{ user.username }}" class="rounded-circle me-2" width="40"
            height="40">
        {% else %}
        <div class="rounded-circle bg-secondary d-flex justify-content-center align-items-center me-2"
            style="width: 40px; height: 40px; color: white; font-weight: bold;">
            {{ portfolio.user.nick_name|slice:":1"|upper }}
        </div>
        {% endif %}
        <span class="fw-medium text-dark">{{ portfolio.user.nick_name }}</span>
    </div>
</div> -->
<!-- <hr class="border-dark mb-1"> -->
{% include "../notification/messages.html" %}
<!-- next -->
<div class="row">
    <div class="col-md-4 mb-2 mb-md-0">

        <div class="card shadow-sm">
            <div class="card-body text-center">
                <h5 class="card-title mb-4">Total Mandate Value</h5>

                <div class="donut-chart-container">
                    <canvas id="donutChart"></canvas>
                    <div class="center-text">
                        $ <span>
                            {% if mandate_value > 100 %}
                                {{ mandate_value|floatformat:2|intcomma }}
                            {% else %}
                                0
                            {% endif %}
                        </span>
                        <small>Invested</small>
                    </div>
                </div>

                <a href="{% url 'customer:all_plans' %}" class="btn btn-outline-primary mt-4 rounded-pill">Allocate Capital</a>
            </div>
        </div>

    </div>
    <div class="col-md-8">
        <div class="card glass-card shadow-sm mb-2 card_get_border ">
            <div class="card-body">
                <h6>Portfolio Performance</h6>
                <p class="text-black ">
                    Cash Balance: ${{portfolio.cash_balance|intcomma }}<br>
                    Current PnL: ${{ monthly_delta|intcomma }} 
                    <br>
                    Portfolio increased by {{ monthly_roi }}% this month.
                    
                </p>
            </div>
        </div>
        {% if has_performance %}
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title mb-4">Performance Yield</h5>

                <div class="line-chart-container">
                    <canvas id="lineChart"></canvas>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<!-- <hr class="border-dark mb-1"> -->
<div class="row mt-2">
    <div class="col-12">
        <h6 class="fw-semibold mb-3 text-dark">Active Strategic Mandates</h6>
    </div>
    {% if active_plans %}
    <div class="row mb-4">
        {% for s in active_plans %}
        <div class="col-md-4 mb-0">
            <div class="card shadow-sm h-100">
                <div class="card-body">
                    <h6 class="card-title">{{ s.plan.name }}</h6>

                    <!-- <span class="badge bg-secondary mb-2">
                        {{ s.risk }}
                    </span> -->

                    <p class="mb-1">
                        Allocated: <strong>${{ s.principal_amount|floatformat:2|intcomma }}</strong>
                    </p>

                    <p class="mb-1">
                        Current Value: <strong>${{ s.current_value|floatformat:2|intcomma }}</strong>
                    </p>

                    <p class="mb-1 {% if s.get_pnl >= 0 %}text-success{% else %}text-danger{% endif %}">
                        P&amp;L: {{ s.get_pnl|floatformat:2|intcomma }}
                    </p>

                    <p class="mb-0">
                        ROI: <strong>{{ s.get_roi }}%</strong>
                    </p>

                    <a href="" class="btn btn-sm btn-outline-danger mt-2">
                        Stop & Liquidate Strategy
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="text-muted">No available Strategic Mandates</p>
    {% endif %}
</div>
<!-- <hr class="border-dark mt-0"> -->

<!-- strategy part -->
<div class="row mt-2">
    <div class="d-flex justify-content-between align-items-center">
        <h5 class="text-dark">Strategic Mandates</h5>
        <!-- <h5 class="mb-3 text-dark">Strategic Allocations</h5> -->
        <a href="{% url 'customer:general_plans' %}" class="btn btn-primary fw-bold rounded-pill px-5 mb-3">View All Mandates</a>
    </div>

    <div class="col-md-8">

        <div class="row">

            {% for plan in plans%}
            <div class="col-md-6 mb-2">
                <div class="card strategy-card  shadow-lg h-100">

                    <div class="card-body shadow mt-3 mb-2 ms-2 me-2 p-0">
                        <div class="row g-0">

                            <!-- Image Side -->
                            <div class="col-5 p-0">
                                <div class="image_wrapper">
                                    {% if plan.image %}
                                        <img src="{{plan.image.url}}"
                                    class="strategy-image img-fluid" alt="Strategy">
                                    {% else %}
                                    
                                        <img src="https://images.unsplash.com/photo-1558494949-ef010cbdcc31"
                                    class="strategy-image img-fluid" alt="Strategy">
                                    {% endif %}

                                    <!-- white blend layer -->
                                    <div class="below_pic">
                                        <div class="below-pic-content"></div>
                                    </div>
                                </div>
                                
                            </div>
                            <!-- Text Side -->
                            <div class="col-7 p-1">

                                <h5 class=" text-success plan_name">
                                    {{ plan.name }}
                                </h5>

                                <hr class="my-2">

                                <p class="small text-muted">
                                    {{ plan.short_description }}
                                </p>

                                <p class="mb-1 small">
                                    <strong>Yield:</strong>
                                    {{ plan.percent_increment|floatformat:1 }}%
                                </p>

                                <!-- <p class="mb-1 small">
                                    <strong>Blueprint:</strong>
                                    {{ plan.long_description }}%
                                </p> -->

                                <p class="small">
                                    <strong>Requirement:</strong>

                                    {% if plan.min_amount <= 100 %} 
                                        No Minimum 
                                    {% else %} 
                                        $
                                    {{ plan.min_amount|floatformat:2|intcomma }} {% endif %} </p>
                            </div>

                        </div>

                        <div class="activating-button px-3">
                            <a href="{% url 'customer:activate_plan' plan.id %}" class="btn btn-primary rounded-pill mt-1 w-100 fw-bold mb-2 px-0">
                            Activate Mandate
                        </a>
                        </div>
                        
                    </div>
                </div>

            </div>
            {% empty%}
            <div class="text-center">
                No available featured plan
            </div>
            {% endfor %}
            <div class="card shadow-sm mb-3 card_get_border">
                <div class="card-body d-flex align-items-center justify-content-between  ">
                    <div>
                        <p class="text-secondary mb-1">Monthly PNL</p>
                        <h6 class="mb-0">${{ monthly_delta|intcomma }}</h6>
                    </div>

                    <a href="{% url 'customer:active_plan_list' %}" class="btn btn-outline-primary btn-sm rounded-pill fw-bold py-3">
                        View More Active Mandates
                    </a>

                </div>
            </div>

        </div>

    </div>
    {% if has_allocation %}
    <div class="col-md-4">
        <div class="card p-4 h-100">
            <h6 class="fw-semibold mb-3">Mandate Allocation</h6>

            <div class="chart-container-sm mb-3">
                <canvas id="allocationChart"></canvas>
            </div>

            <ul class="list-unstyled mb-0">

                {% if allocation_percentages.REIT > 0 %}
                <li class="d-flex justify-content-between mb-2">
                    <span>
                        <span class="legend-dot bg-warning me-2"></span>
                        REITs
                    </span>
                    <strong>{{ allocation_percentages.REIT }}%</strong>
                </li>
                {% endif %}

                {% if allocation_percentages.ASSET_MANDATES > 0 %}
                <li class="d-flex justify-content-between">
                    <span>
                        <span class="legend-dot bg-success me-2"></span>
                        Asset Mandates
                    </span>
                    <strong>{{ allocation_percentages.ASSET_MANDATES }}%</strong>
                </li>
                {% endif %}

            </ul>

        </div>
    </div>
    {% endif %}
    <!-- <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h6 class="mb-3 text-dark">Algorithmic Mandate</h6>

                <div class="chart-wrapper mb-4">
                    <canvas id="upChart"></canvas>
                </div>

                <div class="chart-wrapper">
                    <canvas id="downChart"></canvas>
                </div>

            </div>
        </div>
    </div> -->
</div>

<hr class="border-dark">
<div class="row mt-4">
    <div class="col-12">
        <h6 class="fw-semibold mb-3 text-dark">Active Strategic Expert Mirroring</h6>
    </div>
    {% if mirrored_plans %}
        {% for card in mirrored_plans %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card p-4 h-100">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <strong>Expert: {{ card.portfolio.user.nick_name }}</strong>
                    <span class="badge {% if card.status == 'active' %}bg-success{% else %}bg-secondary{% endif %}">
                        {{ card.status }}
                    </span>
                </div>

                <small class="text-dark paragraphs">Strategic Mandate: {{ card.plan.name }}</small>

                <div class="row mt-3 text-center">
                    <div class="col-4">
                        <small class="text-muted">ROI</small>
                        <div class="fw-bold {% if card.get_roi >= 0 %}text-success{% else %}text-danger{% endif %}">
                            {{ card.get_roi }}%</div>
                    </div>
                    <div class="col-4">
                        <small class="text-muted">PnL</small>
                        <div class="fw-bold {% if card.pnl >= 0 %}text-success{% else %}text-danger{% endif %}">
                            {{card.get_pnl|floatformat:2|intcomma }}</div>
                    </div>
                </div>

                <hr>

                <div class="d-flex justify-content-between align-items-center">
                    <small class="text-dark paragraphs">Capital Allocated</small>
                    <strong>${{ card.principal_amount|floatformat:2|intcomma }}</strong>
                </div>
                <hr class="border-warning">
                <div class="d-flex justify-content-between align-items-center">
                    <small class="text-dark paragraphs">Current Value</small>
                    <strong>${{ card.current_value|floatformat:2|intcomma }}</strong>
                </div>
            </div>
        </div>        
        {% endfor %}
    {% else %}
        <p class="text-muted">No Active strategy Mirroring</p>
    {% endif %}
</div>
{% endblock %}