{% extends './base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="container-fluid mt-3 mb-2">
    <div class="row">
        <div class="col col-md-8">
            <h4 class="mb-1 text-dark">Strategic Asset Mandates</h4>
            <p class="text-muted mb-0 paragraphs">
                High-velocity liquidity provisions in industries with extreme demand-supply gaps.
            </p>
        </div>
    </div>
</div>
<hr class="border-dark">
<!-- <hr class="mt-2 pt-2 border-dark"> -->
{% include "../notification/messages.html" %}
<section id="all_products">
    <div class="container">
        <div class="row clearfix">
            {% for plan in plans %}
            <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                <div class="single-item">
                    <h4>{{ plan.percent_increment|floatformat:1 }}% Monthly Yield</h4>
                    <h3>{{ plan.name }}</h3>
                    <ul class="my_list_list">
                        <li><strong>The Strategy: </strong>{{ plan.strategy }}</li>
                        <li><strong>The Blueprint: </strong>{{ plan.blueprint }}</li>
                        <li><strong>The Backing: </strong>{{ plan.backing }}</li>
                        <li><strong>Entry: </strong>
                                {% if plan.min_amount <= 100 %}
                                    No Minimum Requirement.
                                {% else %} 
                                ${{ plan.min_amount|floatformat:2|intcomma }} {% endif %}
                            </li>
                    </ul>
                    <div class="activating-button px-3">
                        <a href="{% url 'customer:activate_plan' plan.id %}" class="btn btn-primary rounded-pill mt-1 w-100 fw-bold mb-2 px-0">
                            Activate Mandate
                        </a>
                    </div>
                    <!-- <p>Again is there anyone who loves or pursue or desires to obtain pain.</p> -->
                    <div class="overlay-content">
                        <h3>{{ plan.name }} | {{ plan.percent_increment|floatformat:1 }}% Monthly Yield</h3>
                        <ul class="my_list_list">
                            <li><strong>The Strategy: </strong>{{ plan.strategy }}</li>
                            <li><strong>The Blueprint: </strong>{{ plan.blueprint }}</li>
                            <li><strong>The Backing: </strong>{{ plan.backing }}</li>
                            <li><strong>Entry: </strong>
                                {% if plan.min_amount <= 100 %}
                                    No Minimum Requirement.
                                {% else %} 
                                    $
                                {{ plan.min_amount|floatformat:2|intcomma }} {% endif %}
                            </li>
                        </ul>
                        <div class="activating-button px-3">
                            <a href="{% url 'customer:activate_plan' plan.id %}" class="btn btn-primary rounded-pill mt-1 w-100 fw-bold mb-2 px-0">
                                Activate Mandate
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% empty%}
                <div class="text-center">
                    No available featured plan
                </div>
            {% endfor %}
            
        </div>
    </div>
</section>
{% endblock %}