{% extends './base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col col-md-8">
            <h4 class="mb-1 text-dark">{{order.plan.name}}</h4>
            <p class="text-muted mb-0">
                Monitor and manage the {{order.plan.name}} progress.
            </p>
        </div>
        <!-- <div class="col col-md-4">
            <a href="" class="btn btn-primary btn-sm fw-bold mt-md-5">
                Strategy Performance Ranking
            </a>

        </div> -->
    </div>
</div>
<hr class="mt-2 pt-2 border-dark">

<div class="row">
    <div class="col-md-8">

        <div class="card shadow-sm mb-4">
            <div class="card-header bg-light text-dark">
                <h5 class="mb-0">Progress Chart</h5>
            </div>
            <div class="card-body">
                <canvas id="progressChart"></canvas>
            </div>
        </div>

        <div class="card shadow-sm mb-3">
            <div class="card-header bg-light text-dark">
                <h5>{{ order.plan.name }}</h5>
            </div>
            <div class="card-body">
                <p><strong>Allocated:</strong> ${{ order.principal_amount|floatformat:2|intcomma }}</p>
                <p><strong>Current Value:</strong> ${{ order.current_value|floatformat:2|intcomma }}</p>
                <p><strong>Status:</strong>
                    <span class="badge bg-info">{{ order.status }}</span>
                </p>
                <p><strong>Start Date:</strong> {{ order.start_at|date:"Y-m-d" }}</p>
            </div>

            <form action="">
                {% csrf_token%}

                <button type="submit" class="btn btn-danger btn-sm rounded-pill ms-3 mb-3 px-4">
                    Stop and Liquidate
                </button>
            </form>
        </div>

    </div>

    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-header bg-light">
                <h5 class="mb-0">Snapshots</h5>
            </div>
            <ul class="list-group list-group-flush">
                {% for item in snapshots %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ item.snapshot_at }}
                    <span class="badge bg-success">
                        $ {{ item.cumulative_amount|floatformat:2|intcomma }}
                    </span>
                </li>
                {% empty %}
                <li class="list-group-item">No snapshots yet.</li>
                {% endfor %}
            </ul>
            <div class="pagination mt-3">
                <span>
                    Page {{ snapshots.number }} of {{ snapshots.paginator.num_pages }}
                </span>

                <div>
                    {% if snapshots.has_previous %}
                    <a href="?page=1">&laquo; First</a>
                    <a href="?page={{ snapshots.previous_page_number }}">Previous</a>
                    {% endif %}

                    {% if snapshots.has_next %}
                    <a href="?page={{ snapshots.next_page_number }}">Next</a>
                    <a href="?page={{ snapshots.paginator.num_pages }}">Last &raquo;</a>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document
        .getElementById('progressChart')
        .getContext('2d');

    const progressChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ labels | safe }},
    datasets: [
        {
            label: 'Portfolio Value',
            data: {{ values | safe }},
        fill: true,
        borderColor: 'rgba(75, 192, 192, 1)',
        backgroundColor: 'rgba(75, 192, 192, 0.2)',
        tension: 0.3,
        pointRadius: 4
                }
    ]
        },
    options: {
        responsive: true,
            plugins: {
            legend: {
                position: 'top'
            },
            title: {
                display: true,
                    text: 'Daily Growth Progress'
            }
        },
        scales: {
            y: {
                beginAtZero: false
            }
        }
    }
    });
</script>


{% endblock %}