{% extends './base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="container-fluid mt-3 mb-2">
    <div class="row">
        <div class="col col-md-8">
            <h4 class="mb-1 text-dark">Real Estate Trust (REIT) Mandates</h4>
            <p class="text-muted mb-0 paragraphs">
                Conservative growth focused on tangible asset security and foundational stability.
            </p>
            <!-- <p class="text-muted mb-0">
                Choose a fully managed Real Estate Trust Strategic Mandates. Our system processes automatically on your behalf.
            </p> -->
        </div>
        <!-- <div class="col col-md-4">
            <a href="" class="btn btn-primary btn-sm fw-bold mt-md-5">
                Strategy Performance Ranking
            </a>

        </div> -->
    </div>
</div>
{% include "../notification/messages.html" %}
<div class="row g-4">

    <!-- Conservative Strategy -->
    {% for plan in reit_plans %}
    <div class="col-md-6 mb-2">
        <div class="card strategy-card  shadow-lg h-100">

            <div class="card-body shadow mt-3 mb-2 ms-2 me-2 p-0">
                <div class="row g-0">

                    <!-- Image Side -->
                    <div class="col-5 p-0">
                        <div class="image_wrapper">
                            {% if plan.image %}
                            <img src="{{plan.image.url}}" class="strategy-image img-fluid" alt="Strategy">
                            {% else %}

                            <img src="https://images.unsplash.com/photo-1558494949-ef010cbdcc31"
                                class="strategy-image img-fluid" alt="Strategy">
                            {% endif %}

                            <!-- white blend layer -->
                            <div class="below_pic">
                                <div class="below-pic-content"></div>
                            </div>
                        </div>

                    </div>
                    <!-- Text Side -->
                    <div class="col-7 p-1">

                        <h5 class=" text-success plan_name">
                            {{ plan.name }}
                        </h5>

                        <hr class="my-2">

                        <p class="small text-muted">
                            {{ plan.short_description }}
                        </p>

                        <p class="mb-1 small">
                            <strong>Yield:</strong>
                            {{ plan.percent_increment|floatformat:1 }}%
                        </p>

                        <p class="small">
                            <strong>Requirement:</strong>

                            {% if plan.min_amount <= 100 %} 
                                No Minimum 
                            {% else %} 
                                $ {{ plan.min_amount|floatformat:2|intcomma }} 
                            {% endif %} 
                        </p>
                    </div>

                </div>

                <p class="mb-1 small text-muted px-3 py-2">
                        <strong>Blueprint:</strong>
                        {{ plan.long_description }}
                    </p>

                <div class="activating-button px-3">
                    <a href="{% url 'customer:activate_plan' plan.id %}"
                        class="btn btn-primary rounded-pill mt-1 w-100 fw-bold mb-2 px-0">
                        Activate Mandate
                    </a>
                </div>

            </div>
        </div>

    </div>
    {% empty%}
    <div class="text-center">
        No available featured plan
    </div>
    {% endfor %}
</div>
{% endblock %}