{% extends "../customer/base.html" %}

{% block title %}Customer Detail{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Customer Details</h2>

    <ul>
        <li><strong>Full Name:</strong> {{ customer.full_name }}</li>
        <li><strong>Email:</strong> {{ customer.email }}</li>
        <li><strong>Nickname:</strong> {{ customer.nick_name|default:"-" }}</li>
        <li><strong>Status:</strong> {{ customer.is_active|yesno:"Active,Inactive" }}</li>
        <li><strong>Date Joined:</strong> {{ customer.date_joined }}</li>
    </ul>

    <a href="{% url 'staff:admin_dashboard' %}">← Back to Customers List</a>

</div>
{% endblock %}