{% extends "../customer/base.html" %}

{% block title %}KYC List{% endblock %}

{% block content %}
{% include "../notification/messages.html" %}
<div class="row">
    <div class="col-5 col-sm-8">
        <h4>Kyc Submissions List</h4>
    </div>
</div>
<hr>
<div class="card">
    <div class="card-header">
        KYC Submissions
    </div>

    <div class="table-responsive">
        <table class="table align-middle mb-0">
            <thead class="table-light">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Submitted</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                {% for kyc in kycs %}
                <tr>
                    <td>
                        {{ kyc.first_name }} {{ kyc.last_name }}
                    </td>

                    <td>
                        {{ kyc.portfolio.user.email }}
                    </td>

                    <td>
                        {% if kyc.status == "PENDING" %}
                        <span class="badge bg-warning">Pending</span>
                        {% elif kyc.status == "VERIFIED" %}
                        <span class="badge bg-success">Verified</span>
                        {% elif kyc.status == "REJECTED" %}
                        <span class="badge bg-danger">Rejected</span>
                        {% else %}
                        <span class="badge bg-secondary">Not Submitted</span>
                        {% endif %}
                    </td>

                    <td>
                        {{ kyc.submitted_at|date:"Y-m-d" }}
                    </td>

                    <td>
                        <a href="{% url 'staff:admin_kyc_review' kyc.pk %}" class="btn btn-sm btn-primary">
                            Review
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center text-muted py-4">
                        No KYC requests found.
                    </td>
                </tr>
                {% endfor %}

            </tbody>

        </table>
    </div>
</div>
{% endblock %}