{% extends "../base/base.html" %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<div class="container mt-5">
    {% include "../../notification/messages.html" %}
    <div class="row">
        <div class="col-3 col-sm-4">
            <h4>All Assets</h4>
        </div>
        <div class="col-9 col-sm-8">
            <div class="row">
                <div class="col">
                    <!-- Positive stimulation -->
                    <form method="post" action="{% url 'assets:manual_stimulation' %}" class="pinner-form">
                        {% csrf_token %}
                        <input type="hidden" name="direction" value="positive">
                        <button type="submit" class="btn btn-primary btn-sm">Positive Stimulation</button>
                    </form>
                </div>
                <div class="col">
                    <!-- Negative stimulation -->
                    <form method="post" action="{% url 'assets:manual_stimulation' %}" class="pinner-form">
                        {% csrf_token %}
                        <input type="hidden" name="direction" value="negative">
                        <button type="submit" class="btn btn-danger btn-sm">Negative Stimulation</button>
                    </form>
                </div>
                <div class="col">
                    <!-- Both (optional) -->
                    <form method="post" action="{% url 'assets:manual_stimulation' %}" class="pinner-form">
                        {% csrf_token %}
                        <input type="hidden" name="direction" value="both">
                        <button type="submit" class="btn btn-secondary btn-sm">Random Stimulation</button>
                    </form>

                </div>
            </div>






        </div>
    </div>

    <hr class="mt-0">
    <!-- {% include "../../notification/messages.html" %} -->
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover mt-3">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Symbol</th>
                    <th>Asset Type</th>
                    <th>Price</th>
                    <th>Volatility</th>
                    <th>Created At</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for asset in all_assets %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ asset.name }}</td>
                    <td>{{ asset.symbol }}</td>
                    <td>{{ asset.asset_type }}</td>
                    <td>${{ asset.price }}</td>
                    <td>{{ asset.volatility }}%</td>
                    <td>{{ asset.created_at|date:"Y-m-d H:i" }}</td>
                    <td><a href="{% url 'staff:edit_asset' asset.id %}" class="btn btn-info">Edit</a></td>
                    <td>
                        <form method="post" action="{% url 'staff:delete_asset' asset.id %}" class="pinner-form">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm"
                                onclick="return confirm('Are you sure you want to delete this asset?');"
                                data-spinner-text="." data-spinner-class="btn-secondary btn-sm">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7" class="text-center">No assets found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if page_obj.has_other_pages %}
    <nav aria-label="Admin dashboard pagination">
        <ul class="pagination justify-content-center">

            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                    Previous
                </a>
            </li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                    Next
                </a>
            </li>
            {% endif %}

        </ul>
    </nav>
    {% endif %}


</div>
{% endblock %}