{% load static %}
<!-- Header -->
<div id="header" class="fixed-top pt-5 scrollanimation animated fadeIn">
    <nav class="navbar navbar-expand-xl mx-5">
        <div class="container-fluid">
            <div class="logo-container">
                <a class="navbar-brand" href="{% url 'frontend:home' %}"><img src="{% static 'frontend/image/logo-stone.png' %}" alt="" class="img-fluid w-100"></a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa-solid fa-bars-staggered accent-color-2"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mb-2 mb-xl-0 gap-xl-4 gap-1">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'frontend:home' %}">Home</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'frontend:home' %}">
                            About Us
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'frontend:home' %}">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'frontend:contact' %}">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'frontend:register' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'frontend:login' %}">Login</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- End Header -->